[2020-01-09 17:26] df2qy opened #1 "compilation error with os_install_putc1((void *)... on ESP-01"
Just tried to compile IRT-EMS-ESP for an ESP-01 board. I get the following error two times:

src/TelnetSpy.cpp: In member function 'void TelnetSpy::setDebugOutput(bool)':
src/TelnetSpy.cpp:450:59: error: invalid conversion from 'void*' to 'fp_putc_t {aka void (*)(char)}' [-fpermissive]
             os_install_putc1((void *)TelnetSpy_ignore_putc); // Ignore system printing

After removing "(void *)

[2020-01-20 07:47] Victor-Mo commented on #1
I suspect this is depended on the include files used. Without the cast (void *) would be 'more correct' code. This would prevent an incompatible function to be used (you can cast any function to a (void *) even when the parameters do not match).

I tried this change on my system and it fails because it does an explicit cast to (void *) in the include files. But I am running an older version of Pla

[2020-01-20 16:37] proddy commented on #1
I fixed that problem in the EMS-ESP project a while ago - just copy over the updated TelnetSpy.* files.

[2020-01-21 06:54] Victor-Mo commented on #1
@proddy  thanks for the tip !
I have merged the 'TelnetSpy' from the EMS-ESP project, this fixes the compiler problems.
@df2qy could you confirm this fixes your problem?

[2020-02-19 07:11] Victor-Mo commented on #1
Closing this issue, the software change has solved the issue.

[2020-02-19 07:11] #1 closed

[2020-03-06 14:28] mrwee opened #2 "Great projekt. Will save my investment :), if..."
Hi,

A while ago I bought an EMS-ESP expecting it to work with my boiler. Unfortunately I found that the boiler only supports iRT, so I put the gateway away. By chance, I stumbled upon your project, which looks promising!

I just wondered if it's possible for you to provide a compiled .bin for the D1 mini? I can't seem to get PlatformIO, VSC etc. to work, so instead of wasting my time on all those

[2020-03-06 16:11] proddy commented on #2
I think you'll find the automated latest build under https://github.com/Victor-Mo/IRT-EMS-ESP/releases

[2020-03-06 18:43] Victor-Mo commented on #2
@proddy Thanks for the quick answer !

@mrwee Make sure to make the hardware modification to the EMS-ESP (see the Readme [https://github.com/Victor-Mo/IRT-EMS-ESP/blob/master/README.md](url) and scroll down to hardware change) . It will not work without the modification.

[2020-03-08 13:55] mrwee commented on #2
Just ordred a new (modified) board from @proddy. Will try your code out as soon as the board arrives :)

[2020-03-17 15:09] mrwee commented on #2
Received the modified board and fitted it. Does not seem to work though :).
So far I've:
1) Fitted/connected the modified board with external USB power (ESP does not get power without), to the boiler
2) Configured Wi-Fi
3) Via Telnet: "set tx_mode 4 / restart"
4) Get "Error! Unable to read the EMS bus"
5) log j gives me a lot of "Starting scheduled MQTT publish, despite it's been configured + disa

[2020-03-17 19:59] Victor-Mo commented on #2
@mrwee From the linked issue i can see that you have an UBA4001. They are more tricky to get working.

You cannot use the Jack plug on the front of the boiler. You must connect the board at the thermostat and it needs power through the USB port.

Today I received some additional hardware. I should have some time to test different setups, because we are urged to stay at home....

Just give me some

[2020-03-18 19:28] mrwee commented on #2
Progress :)
After good advise from @proddy, I've now got the gateway connected (with v1.9.5ib43)
![image](https://user-images.githubusercontent.com/6720774/76999008-4b522500-6956-11ea-98a9-cc8a15859da0.png)

tx_mode is still 4.
Running "devices scan" reveals nothing

Starting "log j" still spams with "Starting scheduled MQTT publish", but sorting the output provides:
`(00:04:28.277) irt_rawTelegra

[2020-03-18 20:20] Victor-Mo commented on #2
Good news !

Could you share what you changed ?

The 'Starting scheduled MQTT publish..' is a bug and i need to fix it. But you can work around it by issuing the following command 'set publish_time 120'

I also noticed that the web gui is not showing the current temperature. I will investigate. The MQTT should work, that is what I am using. The 'info' command should show the information.

[2020-03-18 21:03] mrwee commented on #2
Sure.
I connected the gateway via the terminal block on the boiler (PINS 3+4), and not the 3.5mm jack. ESP8266 gets separate USB power from an 230V adapter.

Nice with the MQTT 'fix' :)

MQTT data seen with MQTT Explorer:
{"wWSelTemp":0,"wWDesinfectionTemp":0,"selFlowTemp":0,"selBurnPow":0,"curBurnPow":0,"pumpMod":0,"wWCircPump":0,"outdoorTemp":0,"wWCurTmp":51,"wWCurFlow":0,"curFlowTemp":60,"retTe

[2020-04-13 10:07] mrwee opened #3 "OTA does not work from 1.9.5ib43 to 1.9.5ib44"
OTA updating from pre-compiled 1.9.5ib43 to pre-compiled 1.9.5ib44 via the GUI, does not work. The upload goes fine, but the version stays the same.

[2020-04-14 06:38] Victor-Mo commented on #3
Thanks for reporting this. I will look into this.

[2020-04-16 09:41] mrwee commented on #2
Have now re-flashed the ESP to version 1.9.5ib44. Now the Dashboard is populated with more info :)

![2020-04-16_11-39-19](https://user-images.githubusercontent.com/6720774/79441155-301b1980-7fd7-11ea-804e-99cf26907fa2.png)

[2020-05-03 09:28] Chreetz opened #4 "Multiple iRT dialects?"
Hi Victor,

Great work reverse engineering the iRT protocol!

Unaware of your work I tried to reverse engineer it myself, but without success. However, it seems my UBA and Thermostat are somewhat different than yours. My boiler is a Nefit Ecomline Classic HRC30, thermostat is Moduline 30.

What is working is Hot Water on/off and Heating on/off. Current flowtemperature shows a logical value, but th

[2020-05-05 18:27] Victor-Mo commented on #2
I have cleaned-up de webgui to only show valid values, basically only boiler values. The MQTT publish time is also working. So closing this issue.

[2020-05-05 18:27] #2 closed

[2020-05-05 18:35] Victor-Mo commented on #3
I have fixed upgrading via the webGUI in version 1.9.7. But this will only work for future updates. Use espota.py to upgrade.

Closing this issue.

[2020-05-05 18:35] #3 closed

[2020-05-22 09:06] Victor-Mo commented on #4
@Chreetz

Hi Chris,

Sorry for the late reply. To be honest I really do not if there are different dialects. What I did see is that there is a difference between thermostats. It looks like the Moduline 300 requests more information than any of the other thermostats (moduline IV / Moduline 30).

If I look at the hex data it looks pretty much like the data I have seen from other thermostats. I have

[2020-06-28 19:43] Chreetz commented on #4
Hi Victor,
Thanks - I'm sorry for my late response too. Guess I missed the github alert.
I'm still trying to understand the way VSC and Platform.IO work. It was easy to setup, build and upload. But things like the way the webfiles end up on the device still puzzles me.
Chris

[2020-06-30 11:34] Chreetz commented on #4
Hi,
There is still a thing that puzzles me.

The situation now:
-The EMS Dashboard indicates a Current Flow Temp of 14 degrees
-The Moduline 30 displays 25 degrees as setpoint  <- calculated by Moduline
-The Moduline 30 displays 22 degrees as measured (aanvoer?) <- Measured value from the boiler
-The Moduline 30 displays 21 degrees as outside temp <- Measured value from the boiler

Where is the 22

[2020-06-30 20:26] Victor-Mo commented on #4
Hi Chreetz,

There are a number of steps in the way the web files are added to the firmware. From the directory './tools/webfilesbuilder' The gulp.js script is run (node node_modules/gulp/bin/gulp.js) (see also: https://emsesp.github.io/docs/#/Building-firmware ).

The gulp.js script will process the html and javascript from './src/websrc/' . It will concatenate, gzip and convert them to 'c' heade

[2020-07-01 18:51] Victor-Mo commented on #4
I just did a test on my boiler and I can confirm there is a 8 degree offset, i will fix that in a next version.

[2020-07-04 11:11] Chreetz commented on #4
Hi Victor,

Thanks for your explanation.

The thing that puzzles me the most in the build process is I assumed the webfiles are stored in the spiffs filesystem. I understand the gulp thingy, but the includes in the source looks strange to me (the c compiler cannot compile a webfile - preprocessor!?). I need some playing with it to fully understand.

As for the temperature: I don't think it is a fi

[2020-07-28 20:11] mafradon opened #5 "Set wwactive doesn't work"
Since yesterday i updated my interface with the latest version. I used to only use the set_water commando to start the boiler. This worked fine. But i cant seem tot set the tap water boiler on and off. What commando do u use to do that?

I have tried wwactive , tapwater and wwonetime but all of Them have no effect to the wwheat parameter in the boiler data. Alsof the mqtt comands to do the same do

[2020-07-29 19:19] Victor-Mo commented on #5
The 'boiler wwactive on' and 'boiler wwactive off' should switch the tap water on and off. It does seem to correctly set it on the boiler, but it is not reported in the status (info command).  I will have a look, because something is wrong.

[2020-07-31 12:05] Victor-Mo commented on #5
@mafradon I have checked the tap water setting. The telnet command is 'boiler wwactive on/off'. The MQTT topic is 'boiler_cmd_wwactivated' (for example: 'home/irt-esp/boiler_cmd_wwactivated') a value of 0/1 will switch it on and off.

The problem was reporting the tap water status. The 0x05 message was implemented, but it was not processed/called. I have fixed that. Just keep in mind it can take a

[2020-08-21 11:36] jperquin opened #6 "iRT-ESP without Moduline 30?"
**Question**
*Can the iRT-ESP be used without a room thermostat, ie. Moduline 30?*

**Device information**
Set-up: Nefit Ecomline HR from 1997, keesbbq's ift modified complete kit, zwave radiator thermostats for individual zone control and home assistant for the boiler / radiator logic.
Current non-domotica install depends on a Honeywell Chronotherm III (just on/off control connected to ports 1 an

[2020-08-24 20:01] Victor-Mo commented on #6
Hi,

The complete board will be powered by the USB connector on the wemos. You need to connect the iRT bus to the two blue screw terminals. The rest (the 100k, 4 pin mini PCB, the 3 wire lead and 3.5 mm lead) are not necessary. They are used if you convert the board back to EMS.

Just to double check, you did order the board as iRT board ? It should then be ready to go.

[2020-08-25 06:36] bbqkees commented on #6
@jperquin If you purchased an iRT modified board its ready to go.
The resistor, buck and jack cable are included to revert back to EMS in case you replace the old boiler for a new Nefit boiler.

[2020-08-25 07:10] jperquin commented on #6
Thanks Kees.

Had connected the board "as received" but did not get it to communicate with the boiler, so soldered the provided 100k Ohm resistor and no luck either.

Will try again after removing the resistor and advise.

[2020-08-25 11:50] jperquin commented on #6
..we have lift-off!

Currently getting following string via MQTT Explorer on boiler data:
{"wWSelTemp":88,"selFlowTemp":0,"selBurnPow":0,"pumpMod":0,"outdoorTemp":0,"wWCurTmp":63,"curFlowTemp":58,"retTemp":58,"boilTemp":0,"wWActivated":"on","wWOnetime":"off","burnGas":"off","heatPmp":"on","fanWork":"off","ignWork":"off","heating_temp":88,"wWHeat":"off","burnStarts":0,"burnWorkMin":0,"ServiceCode":

[2020-08-25 15:20] jperquin commented on #6
Had a look at the original tweakers post [here](https://gathering.tweakers.net/forum/list_messages/1950128/last) and have copied the HA sensors and climate logic from @mafradon.
Apparently mafradon has made some changes to the logic and I was wondering if those have been incorporated in the latest FW build, as I am getting this error:
![Screenshot 2020-08-25 at 17 19 28](https://user-images.github

[2020-08-25 16:25] Victor-Mo commented on #6
@jperquin Great news that it is working !

There are two things you can actively control via MQTT. If the warm water production is on or off and the requested flow temperature (for heating).

Below some example, adjust the topic to your setup:

_Warm water on:_
topic: home/irt-esp/boiler_cmd_wwactivated
data: on

_Warm water of:_
topic: home/irt-esp/boiler_cmd_wwactivated
data: off

_Request flow

[2020-08-25 17:31] jperquin commented on #6
Thanks Victor.

For HA to publish the correct MQTT command to set the desired flowtemp it can only send a number, not json template data (like {"cmd":"flowtemp",data:45}).

I tried publishing the desired number to "ems-esp/boiler_cmd_flowtemp" but that's not doing anything..

[2020-08-25 19:48] Victor-Mo commented on #6
I use a custom piece of c code on an old NLSU2 to publish/control flow temp (long story). I am not a HA expert, but I googled a bit and this topic: [publish-mqtt-message-in-json-format](https://community.home-assistant.io/t/automation-publish-mqtt-message-in-json-format/26048/4) explains how to publish a HA value in a JSON format.

The topic 'ems-esp/boiler_cmd_flowtemp' does not exist.

[2020-09-03 11:02] jperquin commented on #6
I ended up with the following config for climate.yaml:

[code]

and an automation that gets triggered by the (dummy) ems-esp/setpoint topic, which then fires the correctly formatted json to ems-esp/boiler_cmd

automations.yaml:
[code]

[2020-09-03 11:03] jperquin commented on #6
Would be nice if the warmwater temp could also be set to a specific target temperature, not just on or off..

[2020-09-15 10:28] kralikba opened #7 "No valid data?"
Hello,

I've received an iRT board from bbqkees with the Wemos installed but I can't seem to get valid data out of the system. The ESP has IRT-ESP version 1.9.8.20073113 pre-flashed. I've set txmode 4 but otherwise everything is the default.

I have a Buderus system: a Logamax plus GB112 (looks like an UBA 1.5), a Logamatic 4121 controller, a MEC2 remote control/thermostat installed inside the hea

[2020-09-15 18:54] Victor-Mo commented on #7
@kralikba That is quite a big setup. I am not familiar with the Logamatic 4121, but I have googled the instalation manual. It looks like only the connection between the Logamax plus GB112 and the Logamatic 4121 is using the iRT (UBA 1.x) protocol.

I think the best option is to connect it parallel to the boiler connection(Logamax plus GB112). Have a look at issue #6 there is a picture where the wi

[2020-09-16 05:54] kralikba commented on #7
@Victor-Mo thanks for the idea. It has never occurred to me that the room thermostat is not directly connected to the bus. Now that you gave me this idea, I've found some documentation about it - and it is communicating at a data rate of 1200 bps, which perfectly explains the F's and 8's.

[2020-09-16 10:15] kralikba commented on #7
Thanks; i have connected it to the EMS/UBA port on the controller (turns out there is one clearly labelled as such) which goes to the boiler itself as well. (approx. 1,5 meters of wire to the boiler; 30 cm to the ESP; both connected/stuffed into the same screw terminal). I am getting _some_ data, but mostly CRC errors now:

[code]

[2020-09-16 17:41] kralikba commented on #7
Now that the warm water is being prepared for the evening, I've reconnected the device. It is still mostly showing CRC errors butt some of the boiler-related data now seems correct:

[code]

The web interface still just says "EMS Bus is not connected."

[2020-09-16 20:00] Victor-Mo commented on #7
@kralikba Good to see that it is at least doing 'something'. But i think the signaling from the 'Logamatic 4121' is slightly different. Maybe the message are slightly longer ?. Could you make a longer 'log j' log file ? Just leave it running for 10 minutes.  You can attach a file to the issue.

The 117 is not correct, but the message i use for the warm water temperature, 0xA8 seems to report it (A

[2020-09-18 07:04] kralikba commented on #7
I've attached a log:

https://gist.github.com/kralikba/219e08662b244e375e99a31539e3465c

[2020-09-19 09:31] Victor-Mo commented on #7
Hi @kralikba ,

I have had a quick look at the log you provided. It looks like it is not detecting all the bytes on the long messages. I am not sure if it simply is not correctly detecting the bytes or if the ESP has problems keeping up with the data. It mostly happens at the end of the data.

If i manually 'fix' the data it seems to contain all the messages. So i do not thing the langue they 'spe

[2020-09-22 13:09] kralikba commented on #7
Hi,
The 117 degree doesn't seem to change at all. The hot water setpoint is 56 degrees, so it is not a double of that.
The hot water is produced by the boiler, but indirectly, through a storage tank, which is also heated by the solar collector.

[2020-09-22 13:53] kralikba commented on #7
I've tried cutting the wire as short as physically possible but the general behaviour is the same. Do you have any hardware modification ideas which might help a bit?

[2020-09-26 18:54] Victor-Mo commented on #7
Hi @kralikba ,

Sorry for the delay in responding, but it has been a busy week.

I have not had time to look at the trace, if I can find another location for the hot water.

I am not 100% sure about the board you have. There should be a resistor of 1 MOhm (I think R22). Increase this to 1,5 MOhm or even 2 MOhm may help with improving the detection. Because of the slow speed (4800 Baud) the length

[2020-10-14 16:31] kralikba commented on #7
Hi,
Finally I managed to look at this. It was 1,5 MOhm; I have replaced it with a 2,2 MOhm one and now there are next to no CRC errors. However, the data still doesn't look valid: the web interface is "green" but reports incorrect information. See the below log if you have time. Thanks!

https://gist.github.com/kralikba/e50f88c23178a876dd8d15c455532ade

[2020-10-14 16:39] kralikba commented on #7
![image](https://user-images.githubusercontent.com/1148937/96019256-94b31600-0e4c-11eb-85ed-37229e974e60.png)

[2020-10-15 06:47] Victor-Mo commented on #7
@kralikba Good news that the board is working now, a few CRC errors is normal. I had a quick look at you log file and the data looks solid. There are a few other, unknown to me, messages. So I will have a better look at the log file.

The webgui needs some work. But I can see the flow and return temperature is reported. These values need a correction. For example in your picture it reports 18 degr

[2020-10-15 09:23] kralikba commented on #7
Yes it is, but to the Logamatic controller. Maybe it doesn't show up on the UBA bus? From what I've understood, other components of this control system are connected to a separate internal bus.

[2020-10-15 09:24] kralikba commented on #7
That 26 degrees is correct as far as I remember!

[2020-11-04 20:02] Victor-Mo commented on #4
I have added logging of the 0xF0 messages to the status logging (log s) in the latest v1.9.10 build. I have added a conversion for the reporting of the temperatures. The outside temp. should also be correct.

[2020-11-04 20:03] Victor-Mo commented on #5
Closing the issue because I think it is fixed, if not veel free to reopen.

[2020-11-04 20:03] #5 closed

[2020-11-04 20:06] Victor-Mo commented on #6
I have not been able to find a message that can set the target warm water temperature. I think it can only be set on the boiler itself. Closing this issue (it can always be reopened).

[2020-11-04 20:06] #6 closed

[2020-11-04 20:13] Victor-Mo commented on #7
I have created a new version, v1.9.10, that has a correction on the reported temperatures. I also cleaned-up the web GUI.

But the iRT protocol is very basic. It is just to control the boiler. I think you will only get the Flow and return temp. and if the boiler is running. I do not think the logamatic controller will publish any 'extra' information on the iRT bus to the boiler.

[2020-11-26 22:56] Gisbert1 opened #8 "How to compile the firmware in Gitpod?"
Dear Victor,

I'm trying to compile the firmware with the help of Gitpod.
I'm famliar with Tasmota and it works pretty easy to run one's own compiled firmware in Gitpod.

Is there something similiar possible with your software?
In Tasmota the following works well:
paltformio run - tasmota
A file called firmware.bin is then provided which can be downloaded and flashed to a Wemos D1 mini.

A compile

[2020-11-27 14:00] Victor-Mo commented on #8
Hi Gisbert,

I have no experience with Gitpod, but i will have a look. The binaries are available from the [release section](https://github.com/Victor-Mo/IRT-ESP/releases).  Make sure to 'open' the assets section. The file you want to download is: [IRT-ESP-dev-d1_mini.bin](https://github.com/Victor-Mo/IRT-ESP/releases/download/v1.9.10/IRT-ESP-dev-d1_mini.bin) .

Victor

[2020-11-27 18:57] Gisbert1 commented on #8
Hi Victor,

thank you very much for your quick response.
I'm 2 questions away to order a gateway board from Kees.

Should I order the experimental board from Kees or the original board and do the modification according to your instruction? I can solder and find the location. My boiler delivers 6.6 to 6.8 VDC at the EMS +/- connections (its a Buderus GB112 with a ERC). Is the board compatible to th

[2020-11-28 07:26] Gisbert1 commented on #8
Hi Victor,

I saw that you did something with Gitpod.
I tried it out, but failed with the following info:
`We are having trouble parsing your context
Error: Cannot read property 'sha' of undefined

Please file an issue if you think this is a bug.`
Can you please check it - and also my question which board I should order.

Many thanks, have a nice weekend
Gisbert

[2020-11-28 11:06] Victor-Mo commented on #8
Hi Gisbert,

I think i have fixed the GitPod.io issue, it seems to be working now. It was missing a config file, but the error was not really telling that.

If it will work on your specific boiler is always difficult to answer. If you have a look through issue #7 , he seems to got it working on a similar setup. But had to change the resistor value in order to get to work. In general it takes some

[2020-11-28 18:33] Gisbert1 commented on #8
Hi Victor,

I'm going to order the experimental board from Kees. I'm aware that all this is in an experimental stage but I'm quite confident that my setup is suitable for the board. Let's see how far I come with all the information I have now.

The Wemos D1 Mini fits to the board, I have ordered some. In the meantime I have a NodeMCU available. I didn't find so far which pins needs to be connected

[2020-11-30 11:23] Gisbert1 commented on #8
Hi Victor,

I tried to upload  a pre-compiled nodemcu file (IRT-ESP-dev-nodemcu.bin) to a nodeMCU with my tool on Win10:

This worked well, but I did not get an access point from the ESP.

Then I tried your instruction in a Windows 10 cmd window in the same folder where esptool.exe is stored:

Here is no firmware upload visible.

Maybe my NodeMCU is somehow lazy, but I have no Wemos D1 mini at han

[2020-11-30 13:04] Gisbert1 commented on #8
Hi Victor,

some further observation (or trial) I did.
I uploaded a firmware from Kees' homepage and I could get access to the SSID ems-esp with password ems-esp-neo. Finally I could bring the device in my network. Then I tried to upload your firmware via OTA and this seems to work.

Occasionally I saw a network with the name irt-esp, but was not able to connect with. This is somehow different to

[2020-11-30 17:53] Victor-Mo commented on #8
Hi Gisbert,

The NodeMCu build is automatically build, but i do not have a NodeMCU so it is not a tested build. I would suggest looking at the serial port output (via the USB connection). My best guess it is restarting...

Victor

[2020-12-14 10:14] jperquin opened #9 "Building issue"
**Question**
Building issue:
[code]

**Additional context**
Any help is appreciated in completing the proper build environment. It looks like the webh directory needs to be populated..

[2020-12-14 12:03] jperquin commented on #9
Found it!

 - The web builder has been upgraded to use Gulp 4. Remove `tools/webfilesbuilder/node_modules` and re-install the libraries using `npm ci` from within the `tools/webfilesbuilder` folder

[2020-12-14 17:24] Victor-Mo commented on #9
@jperquin Sorry that i saw your issue to late, but good to know it is working now ! I will leave this issue open until I have updated the documentation.

[2020-12-18 16:09] jperquin commented on #9
Thanks for your quick reply.

Looks like there is still something not compiling right. Are you seeing the same?

Not too worried about the SPIFFS messages, but the ones related to Onewire and ESP8266WiFiSTA-WPS don't seem right..

[code]

[2020-12-20 10:27] Victor-Mo commented on #9
@jperquin I have tried building with a clean build here and a 'gitpod.io' build. Both have the SPIFFS and one-wire warnings but not the Wifi warning. The SPIFFS and One-wire warnings are no problem (the one-wire is just a waning about some redundant code). But the wifi warning is more serious. I do not think it will be a problem once the Wifi has connected, but it is strange that i cannot reproduc

[2020-12-20 10:29] Victor-Mo commented on #4
Closing the issue, feel free to reopen if necessary.

[2020-12-20 10:29] #4 closed

[2020-12-20 10:29] Victor-Mo commented on #7
Closing the issue, feel free to reopen if necessary.

[2020-12-20 10:29] #7 closed

[2020-12-20 10:36] proddy commented on #9
@Victor-Mo I can help you with the port if you like. I think it'll be worth it

[2020-12-20 20:42] Victor-Mo commented on #9
@proddy Thanks for the offer ! and thanks for the great software !

[2020-12-20 20:45] Victor-Mo commented on #8
Hi @Gisbert1

Did you succeed in getting it to work ? If you need any help, let me know.

Victor

[2020-12-20 20:58] jperquin commented on #9
Thanks @Victor-Mo. Just a little background to my desire to compile "my own" version.
The recent cold spell we had last week lead me to want to increase the max setflowtemp from 60 to 90.
This made me wonder about the underlying reason to limit this to 60 in your build..

[2020-12-21 07:55] Victor-Mo commented on #9
@jperquin The maximum flow temperature can be changed with the 'max_flowtemp' command (via telnet).  It has a range of 10 to 90 degrees. The default of 60 degrees is just to be safe (and it was enough for my house).

If, for some reason it does not work, let me know and i will fix it.

[2020-12-24 10:24] Gisbert1 commented on #8
Hi Victor,

Basically I'm interested to get as much information from the gas boiler I could have access to. Currently I'm reading the temperatures from sensors which I put outside on the tubes. That works quite ok. The main issue I have with the control unit form Buderus is that the gas burner cycles quite very often (heating for a couple of minutes, then turns off, then restarts after ca. 10 min.

[2020-12-26 10:01] Victor-Mo commented on #8
Hi Gisbert,

You already did a lot of work on your boiler. I think controlling the boiler through the on/off connection (pins 1 and 2) will result in a lot of over and under shoot. I did not have a good experience with it.

But if I read your story, I think what you want is the interface board in 'active' mode. It will completely replace the thermostats / controller you have and directly connect t

[2020-12-26 20:06] Gisbert1 commented on #8
Hi Victor,

thank you very much for your support, now I've ordered the experimental board. Once I received the board I will go step-by-step through all the instructions I can find. Maybe there will be at a certain point need for your guidance. Is it ok to continue communication here, or do you prefer a new more specific issue here on Github or should I use this forum: [https://gathering.tweakers.n

[2020-12-28 18:58] Victor-Mo commented on #8
Hi Gisbert,

You can always use this issue, that is not a problem. I also subscribed to your topic on 'fhem.de' ( https://forum.fhem.de/index.php/topic,116229.0.html ). You can also use that.

Hopefully i have some time this week to update to documentation, because it is not 100% complete.

Regards,

Victor

[2020-12-30 14:40] tbergmair opened #10 "iRT Bus Connection not working"
**Question**
I ordered a iRT Board that came today - flashed it with the latest bin 1.9.10 , got wifi running, connected it to my iRT Bus , set passive mode in Config, rebooted , telnet the device, set again to mode 4 , restart, set log j - then see the output

**Screenshots**
[TELNET] Connected to IRT-ESP version 1.9.10.20110420. Type ? for commands.
log j

System Logging set to Jabber mode

->
(

[2020-12-30 19:03] Victor-Mo commented on #10
Hi Thomas,

Can you provide me with a little bit more information ? What boiler do you have ? What thermostat and how did you connect the interface board ?

Thanks,

Victor

[2021-01-02 11:48] mrwee opened #11 "Outside temperature not reported correctly"
Looking at the latest changes to outside temperature, I can add my experience with my boiler and ModuLine 400.
The outside temperature reported by moduline and irt-esp are not the same. Moduline right now reports 3 degrees, irt-esp claims 2. At higher temperatures, the difference becomes bigger.
Running on version 1.9.10.20110420. Does the changes done in irt-esp need to be different for the ModuL

[2021-01-03 16:40] mrwee commented on #11
![image](https://user-images.githubusercontent.com/6720774/103483881-95739c80-4dea-11eb-9750-47ef4ba9b26b.png)
Graphs from Home Assistant. The top is a Oregon Scientific sensor which is pretty precise, the bottom read from the boiler. They seem to follow the same pattern all right, but the boiler is off :(

[2021-01-03 18:56] erhapp opened #12 "Active IRT-ESP and thermostat usage"
Would it be possible to use this firmware to monitor my iRT installation and occasionally control the temperature of my heating while keep on using the thermostat?

[2021-01-03 19:07] Victor-Mo commented on #11
I used a Moduline 30 Thermostat to create the conversion table. The raw value is reported in the '0x8A' message. If you enable 'log s' via telnet it reports the raw values. the value after '8A:' is the current raw hex value of the outside temperature sensor.

If you have some of the raw values and the temperature that is reported by the Moduline 400, I can adjust the conversion table. It might be

[2021-01-03 19:43] mrwee commented on #11
Aaah, that explains it :)
I'll have to look into how I can get that data out. I assume it's only available via Telnet?

[2021-01-03 19:45] Victor-Mo commented on #12
Because the iRT bus is very sensitive, the interface board cannot work in active mode if there is also a thermostat connected. So I do not think it is possible.

[2021-01-03 19:47] Victor-Mo commented on #11
The raw data is only available via telnet.

[2021-01-07 16:59] tbergmair commented on #10
Hi Viktor!

Thanks for reacting!

I did more research and test the last days with some progress

I got a Buderus GB112  with a MEC and a HW4201,  i connected it now to ECO-BUS - Pin 2+3 ( as 1 seems to be ground),
the Webinterface still says "EMS Bus is not connected."  , if I telnet the device and write command "log j"  i get now the following output :

* IRT-ESP version 1.9.10.20110420
[FS] Syst

[2021-01-07 17:14] jperquin commented on #10
Your heater looks pretty similar to the Nefit that we have. I took this picture from the manual I found online at: http://myskill.be/Buderus%20GB1%20technisch.PDF

![image](https://user-images.githubusercontent.com/46850501/103922313-dda8fc80-5113-11eb-97c5-44678e17c81a.png)

The wires from the EMS-iRT board go to ports 3 and 4. For my set-up to work correctly I had to disconnect the bridge-wire o

[2021-01-07 17:27] tbergmair commented on #10
Hi !  the heater maybe ( i don't know the nefit)  - but i connected it to the eco-bus on the HW4201 - the control unit of all!  I tried also to remove the Roomthermostat MEC while testing - but it made no difference to the log output

[2021-01-07 17:28] tbergmair commented on #10
if i would only connect the irt board on the heater it would be no use at all when i would therefor need to disconnect the HW4201 - as all the thermostats and pumps are connect to the HW4201

[2021-01-07 18:45] jperquin commented on #10
Maybe share a schematic with the connections (incl port numbers) of all components?
That may provide insight as to how these components (GB112, MEC, HW4201) interact..

[2021-01-07 20:38] Victor-Mo commented on #10
@tbergmair I have done some research on your setup. The interface only works on the iRT bus between the boiler (GB112) and the control unit (HW4201). From what I could find the ECO-BUS is some sort of CAN bus ( https://github.com/flyingflo/logamatic ).

I did found the following connection diagram:
![HW4201_UBA](https://user-images.githubusercontent.com/56435760/103940870-5b7a0180-512e-11eb-9f87-b

[2021-01-08 08:13] tbergmair commented on #10
Hi Victor !
Yes - thats the way all is connected !  Did u see my posting from yesterday ?  I connected it to Port 2 and 3 of the ECO-BUS - and at least sometimes I got some messages

I can try to connect it in parallel to the UBA Ports - but i CAN NOT disconnect the HW4201 from the Boiler as then NOTING would be working as all the Sensors and Pumps are connected to HW4201 !

[2021-01-08 15:41] Victor-Mo commented on #10
Hi Thomas,

From what i could find on the internet I pieced together a picture of what I think is your setup:
![hw4201_mec_passive_4](https://user-images.githubusercontent.com/56435760/104033506-e3fcae80-51cf-11eb-95eb-3985576abb27.png)

I also include where the interface board should be connected.

[2021-01-08 17:01] tbergmair commented on #10
many thanks - I will try that tomorrow !

[2021-01-11 14:17] tbergmair commented on #10
I tried to connect it that way - but it didn't get any better - i only got "Error! Unable to read the iRT bus."  - not even the messages i got on eco-bus in my post from 4days ago

[2021-01-12 19:22] Victor-Mo commented on #10
Did the 'log j' show any output ? Did you try swapping the two wires to the interface board ?

[2021-01-13 16:02] tbergmair commented on #10
yes- tried both !

i only get 👍
->
log j

System Logging set to Jabber mode

->
Error! Unable to read the iRT bus.
Error! Unable to read the iRT bus.

when i connected it to eco-bus 2+3 i at least got :

log j
(00:03:26.336) irt_otherTelegram: 40: A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD 66 A0 53 DD

[2021-01-17 19:24] Victor-Mo commented on #10
I think the problem is the 'strange' way the controller is connected. Normally the thermostat is connected at points 3 and 4. When I can find sometime i will build a setup with the thermostat connected to 5 and 10 and see if I can detect a correct signal.

[2021-01-20 16:40] iamceph commented on #10
Hey guys, I got the exact same problem. My boiler is Nefit EcomLine HR43. I connected the device to the 3 and 4, same as the thermostat is and I got the exat same output. Here is my log message: https://paste.gg/p/iamceph/79c45e6adbd54dc89bf17e57d8a582fa

I did not wanted to create another issue, if I should, just tell me.
Thanks for your time! :)

[2021-01-20 17:35] jperquin commented on #10
The Nefit Ekomline should work "right out the box".

A few things you might want to try:

- disconnect wire between ports 1 and 2.
- disconnect regular thermostat in case you are running that in parellel.
- change to settings 5(active with polling).

[2021-01-20 18:22] iamceph commented on #10
Thank you, will try

[2021-01-20 20:02] iamceph commented on #10
So I tried these steps and now it seems that communication is offline.

Log:
Trying 192.168.1.104...
Connected to 192.168.1.104.
Escape character is '^]'.

* IRT-ESP version 1.9.10.20110420
[FS] System config loaded (509 bytes)
[FS] Custom config loaded (317 bytes)
[WEB] Web server started
[UART] Opened Rx/Tx connection (iRT)
[WIFI] Connecting to SSID: PCR_sledovani_24...
[WIFI] Connected to SSID

[2021-01-20 20:05] iamceph commented on #10
This is a log with connected thermostat:
Trying 192.168.1.104...
Connected to 192.168.1.104.
Escape character is '^]'.

* IRT-ESP version 1.9.10.20110420
[FS] System config loaded (509 bytes)
[FS] Custom config loaded (317 bytes)
[WEB] Web server started
[UART] Opened Rx/Tx connection (iRT)
[WIFI] Connecting to SSID: PCR_sledovani_24...
[WIFI] Connected to SSID PCR_sledovani_24 (hostname: irt-esp,

[2021-01-20 20:29] jperquin commented on #10
Setting 5 with polling enabled?

[2021-01-20 20:29] iamceph commented on #10
Yes

[2021-01-21 20:34] Victor-Mo opened #13 "Nefit EcomLine HR43 not correctly detecting the bus signal"
@iamceph I moved the issues to this detect because it is a different setup then the original issue.

If I look at the first data you posted (in tx_mode 4):

(00:04:55.494) irt_rawTelegram: 01: 00
(00:04:56.674) irt_rawTelegram: 18: 01 01 FC 07 FF 00 FF F2 07 29 45 58 73 52 25 43 78 07 FF A1 82 00 91 F4

This look like it almost detected the correct signal but it is missing some bits. So my first q

[2021-01-21 20:35] Victor-Mo commented on #10
@iamceph  I moved this to issue #13 because it is a different issue.

[2021-01-21 20:39] iamceph commented on #13
Thank you.
1. The thermostat is Nefit ModuLine III, distance is +- 4-5 meters. (It is just in the next floor, above the boiler.)
2. I am using modified interface from BBQKees, I did nothing to it.
3. Okay!

[2021-01-21 22:45] jperquin commented on #9
If I enter this to increase the max boiler temp to 90 I get this..
[code]

[2021-01-22 12:49] iamceph commented on #13
I also had an idea to move the interface to the place where thermostat currently is, is that good?

[2021-01-22 19:37] Victor-Mo commented on #13
@iamceph  Just give it a try. I also have the interface around 5 a 6 meters from the boiler. I think it will improve the signal because there will be more voltage drop across the wires.

[2021-01-22 19:43] iamceph commented on #13
Tried it, with same result sadly :/

[2021-01-23 14:42] Victor-Mo commented on #13
Did you try tx_mode 4 with the thermostat connected ?

[2021-01-29 18:27] grunz-ux opened #14 "iRT bus interpretation problem"
Hi,

Nice work on figuring out the iRT protocol! I want to monitor my EcomLine Classic HRC30 UBA4000 (1997 o_0) with Moduline 300 thermostat so I made a circuit that listens to the bus using a series-resistor instead of parallel with the thermostat, should be more robust. See here;
![Capture](https://user-images.githubusercontent.com/78181028/106311258-22343d80-6265-11eb-9e8f-888eebde3ede.PNG)

Re

[2021-01-30 10:36] Victor-Mo commented on #14
Hi @grunz-ux ,

Very interesting project ! Because of issues #10  and #13 I have been doing some reverse engineering of the Moduline 300 thermostat. The moduline 300 has a discreet interface, the older modulines use a custom chip. I always assumed the iRT bus was very similar to the EMS bus. A current / voltage bus. But last week I came to the conclusion the iRT is a current loop only bus. (I feel

[2021-01-30 10:37] Victor-Mo commented on #14
Hi @grunz-ux ,

Very interesting project ! Because of issues #10  and #13 I have been doing some reverse engineering of the Moduline 300 thermostat. The moduline 300 has a discreet interface, the older modulines use a custom chip. I always assumed the iRT bus was very similar to the EMS bus. A current / voltage bus. But last week I came to the conclusion the iRT is a current loop only bus. (I feel

[2021-01-30 19:09] grunz-ux commented on #14
Ah of course! Works like a charm now :)

First I made it with one comparator based on your original description that it does 10mA for 0 and 20mA for 1. Then I didn't get any proper telegrams so I had to get an oscilloscope and noticed that it's dual level.

The board is now connected to terminals 3 and 4 and I didn't have any problems with the thermostat (which has ~15m cable).

[2021-02-10 07:48] erhapp commented on #14
Does this mean that the BBQ-Kees modified board can not be used?

[2021-02-11 19:41] Victor-Mo commented on #14
@erhapp The BBQ Kees board can also be used. But there are a number of people that had problems getting it to work or needed to tweak the detection resistors. I am currently working on a optocoupler based interface. That is looking very good. I can now also actively send messages when the thermostat is still connected.

[2021-03-13 17:58] erhapp commented on #12
Victor, the Proddy-firmware has the command  "pin" to turn GPIO-pins on or off. Can the IRT-ESP firmware do the same? I would like to use a GPIO-pin to connect and disconnect the thermostat via a relay. This way I can switch between passive and active mode.

[2021-03-14 20:16] jperquin opened #15 "Fail safe shut down upon wifi disconnect"
**Is your feature request related to a problem? Please describe.**
Had a few occasions where wifi connectivity dropped while boiler was at full blast and whole house turned into a sauna.

**Describe the solution you'd like**
Set flow temp to zero upon wifi or mqtt disconnect

**Describe alternatives you've considered**
*A clear and concise description of any alternative solutions or features you'v

[2021-03-15 19:17] Victor-Mo commented on #12
@erhapp The current firmware does not support the 'pin' command. I am currently working on porting the new v3 firmware from Proddy. The 'pin' command should then also be included. I am also working on a different hardware interface that should allow the interface and the thermostat to be connected at the same time. If it is possible to override the thermostat if both are connected I do not know ye

[2021-03-15 19:28] Victor-Mo commented on #15
@jperquin I had the opposite, I had a couple of cold mornings because the home automation had failed. The current firmware does check if the MQTT if it is connected and has no errors (isMQTTHealthy). If the MQTT connection drops or if there are errors sending MQTT it resets the flow temp to 0. But it looks like this does not get updated if the wifi drops. You are right it should also include the W

[2021-03-16 07:40] erhapp commented on #12
@Victor-Mo The news about to move to v3 is great. Thank you very much for the hard work.

I read in another ticket about the new hardware. I would love to try it but I should say that my current setup (BBQKees) worked from the first try. Now, I should add that the board seems somewhat picky about the power supply. At one point I tried to power it via the 24AC-port on the boiler, through a AC-DC co

[2021-09-04 19:57] Gisbert1 commented on #8
Hi Victor,

8 month and a couple of days later I started to go in this project again. I hope that you are doing well during this Corona challenges.

During winter time I was afraid to set my boiler on risk. Later I was busy with repairing older Mercedes cars. During this pleasent Saturday afternoon I started to investigate the details again and finally managed after some loops to get a Wemos D1 mi

[2021-09-05 10:04] Gisbert1 commented on #8
Hi Victor,

I got the EMS BUS Gateway connected to my Buderus Logamax plus GB112-11/19 connected.
I added the gateway to the connections 3 and 4 and let the ERC controller at the same place. The connections 1 and 2 are not connected (a plastic wire is inserted, basically not connected).

The gateway is working on 4(iRT passive) to in touch with the device and the software. I get data in the dashbo

[2021-09-05 16:22] Gisbert1 commented on #8
Hi Victor,

it's me again.

I contacted Kees for the new design of an iRT board. He said (maybe I did not understand it fully) that the development of a new board is stopped.

As I now got the experimental board somehow working, I want more. How can I support you for the development of a new design for an iRT board?

Best Regards
Gisbert​

[2021-09-07 20:07] Victor-Mo commented on #8
Hi Gisbert,

Sorry for not responding earlier, but we finally had some nice weather here in Holland, so I have not touch a computer in a couple of days. Good to read that the passive mode is working for you.

You are correct that you will need to disconnect the ERC controller in order to actively control the boiler. The iRT bus only accepts 1 device controlling the boiler. In order to control the

[2021-10-06 13:19] gadafivg opened #16 "How to integrate IRT-ESP to Home assistant"
Hello,

Modified BBQKees board to iRT and sucessfuly getting data from Buderus GB112.
Since iRT-ESP is version without MQTT autodiscovery having issues integrating it to Homeassistant.
As noob i'm tried to write entity to configuration.yaml but getting nowhere.
On EMS-ESP there are no steps described for this. Plz help...

[2021-10-10 21:28] mrwee commented on #16
You have to create your sensors manually in the configuration.yaml file.
E.g.:
[code]

[2021-10-20 14:44] gadafivg commented on #16
I have modified files and getting majority of data into HAssio. Still cannot get info from Thermostat side. Is there way to get those?

[2021-10-24 19:02] Victor-Mo commented on #16
Not sure what kind of information you are looking for ? But the maximum set of information you can get is:

[code]

(This is the output of the telnet command 'info') But the information that is available is strongly depend on the connected thermostat.

With the telnet command 'log m' you can show the MQTT messages that are being send, this is from my system:
`{"wWSelTemp":40,"selFlowTemp":40,"selB

[2021-11-16 11:24] NiekD opened #17 "Succesful installation, but webgui is displayed but does not respond"
I managed to install on my Wemos D1 mini with the help of the "trick" referenced below.

Then I can connect to the WiFi AP, and open the web interface, but it does not respond to any setting I try to change.

The reason seems to be this error:
`myesp.js:formatted:420 WebSocket connection to 'ws://192.168.4.1/ws' failed: Could not decode a text frame as UTF-8.`

I also see this error, but I think t

[2021-11-19 19:08] Victor-Mo commented on #17
What happens if you try one of the pre-build binaries ? ( https://github.com/Victor-Mo/IRT-ESP/releases )

[2021-11-20 16:31] NiekD commented on #17
Using a pre-built binary, ofc. I won't see any compilation errors or -warnings :)

I wish to start with a compliment for the effort you did to implement the iRT protocol!

I received the modified interface board and had to increase the 1M resistor to 1.5M because the iRT bus was not detected at first. Now I see valid datagrams coming in with hardly any crc errors. However,  I do not get a lot of d

[2022-01-04 14:44] NiekD commented on #17
After collecting raw logs in a number of different situations, it shows that my **UBA4000** is sending these messages:

**0x82**: Byte 4 represents the status of the burner and the 3-way valve (flags) as implemented in the software

**0x83**: Byte 4  If the burner is "on", the value seems to represent the actual burner power, but if the burner is "off", the value is always 0xA0

**0xA3**: Byte 4 r

[2022-04-13 10:55] erhapp commented on #17
Niek, nice to see that you're also using the IRT-ESP software. I'm having the same kind of problems trying to compile the code myself. It seems that you got it to work. Would it be possible for you to point me in the right direction?
(I myself would like to build an "alternate" version allowing me to switch between a thermostat and using the board in active mode using a relay to connect/disconnect

[2022-04-13 12:56] NiekD commented on #17
Hello erhapp,

For me, it was sufficient to do what was said here: [issue #7](https://github.com/Victor-Mo/IRT-ESP/issues/9):

After that the compilation succeeded, with a couple of warnings, but these don't do any harm (at least in my case).

[2022-04-13 13:02] erhapp commented on #17
NiekD, In my case VSCode complains about a missing file:

src/MyESP.h:54:10: fatal error: webh/glyphicons-halflings-regular.woff.gz.h: No such file or directory

This directory is empty in the repo. What am I missing?

[2022-04-13 14:02] Victor-Mo commented on #17
It looks like it needs to build the 'web' files first.
- goto the directory ./tools/webfilesbuilder/
- run the command 'npm ci' that should install all node modules
- from the same directory run: 'node node_modules/gulp/bin/gulp.js' that should build all the web files

Then try to compile again.

[2022-06-06 15:03] BartStegeman opened #18 "IRT-ESP on Domoticz"
Hello Victor,

I have designed a little tht-pcb with the converter from IRT to TTL which I have connected to an ESP12E.
This works perfectly, I have the right output on telnet!
I want to use this in combination with domoticz, and i saw there is a "EMS bus Wi-Fi Plugin" which should work for firmware 2.1 and higher only. Also MQTT autodiscovery is not working for the latest IRT-ESP firmware.
My que

[2022-10-13 07:38] mletenay commented on #14
Sorry for reviving an old ticket, but is there any progress with the optocoupler inteface ?
Any schema I could try to build and test ?
(I am more SW than HW guy, so I bought BBQKees' latest EMS interface board V3, started desoldering R5 only after that realizing it's completely different board design ...)

[2022-10-13 09:15] bbqkees commented on #14
@mletenay the basic circuit of the V3 is almost the same but all the component numbers have changed.
R5 is now R22.
R5 on the V3 (which you removed incorrectly) is 360 Ohm and needs to be put back.

After you remove R22 from the V3 you then need to add a 1.5MOhm resistor from the non-ground pin of the R22 and to pin 2 of the IC.

(I have no plans to make a dedicated board for iRT.)

[2022-10-13 11:22] grunz-ux commented on #14
![image](https://user-images.githubusercontent.com/78181028/195583343-0ecfd917-08dc-4322-b285-0751f9f7fde8.png)

You need no optocoupler interface since the insulation is in the UBA. The circuit above works reliable for listening to iRT.

[2022-10-19 18:29] Victor-Mo commented on #14
@mletenay  sorry for not replying earlier. I do not have much time for this project. One of the big issues when using opto-couplers is that there transfer characteristic varie wildly between opto's from the same series. So I could not design a circuit that will always perform the same. But I like the circuit that @grunz-ux  has designed. It provide's some separation by means of the capacitors and

[2022-10-19 21:40] mletenay commented on #14
@Victor-Mo I understand, thanks a lot anyway. My initial attempts with modified bbqkees' board were not successful, so decided to give a try to grunz-ux design and coincidentally I just received my lm393s today.
What I'm bit unsure is the final setup, do I got it right that the connection after R12 goes to RX on the esp8266 ?
And sorry for another stupid question, the R3 is the resistance of the t

[2022-10-20 06:22] grunz-ux commented on #14
@Victor-Mo sure, no problem.

[2022-10-20 18:06] Victor-Mo commented on #14
@mletenay The connection after R12 goes to the RX input of the ESP. What I am not sure of if @grunz-ux is using the standard software or a modified one that does not invert the serial signal. (See my initial answer on this issue).

Th resistor R3 is not a 'real' resistor but it is the thermostat it self. I think it was just added for the simulation.

[2022-10-22 21:27] mletenay commented on #14
So I have built the grunz-ux's interface, adjusted IRTUART_CONFIG_PASSIF and connected in series with ERC thermostat.
I see some data which seem to resemble the protocol, but they are not decoded:
[code]
Any hint what could be wrong or where should I look ?

I have analyzed some telegrams "20", there are several versions of them and they repeat randomly.
But all have similar structure of same and

[2022-10-23 12:31] Victor-Mo commented on #14
@mletenay It looks like it is only picking-up the boiler/UBA side of the data. The data from the thermostat is missing. So probably on of the comperator is not detecting the signal. A message should start with 01 01 FE, The first '01' is from the boiler indicating slot 1, the the thermostat indicates it wants to send with '01' and the boiler confirms with the inverse 'FE'. All most all bytes from

[2022-10-23 21:52] mletenay commented on #14
Indeed ! It was my lousy soldiering, one comparator had cold joint on input. Now it works like a charm.
There seem to be some unrecognized telegrams, but they may be my boiler/thermostat specific so I'm going to trace and decode them. But the basic stuff works and I can read the boiler state now.
@Victor-Mo @grunz-ux Thank you guys for help and your great work !

[2022-11-01 08:17] Victor-Mo commented on #14
Please share any messages, it is always interesting to get some new data. I tried to document the messages in the wiki:
 https://github.com/Victor-Mo/IRT-ESP/wiki/iRT-Telegram-Types

[2022-11-26 08:51] n1kDon opened #19 "Modification for v3.0 interface board"
Is there a guide how to modify the V3.0 interface board from BBQKees?

[2022-11-27 18:39] Victor-Mo commented on #19
@n1kDon I have not look at the new interface board. The modified EMS boards do not always work. But the circuit suggested in #14 seems to work reliable you may want to have a look at that.

[2022-11-27 18:48] n1kDon commented on #19
Thx!

[2022-11-28 19:27] harrymayr opened #20 "Additional information for the wiki"
Hi Victor,

I currently work on your project to adapt it on my needs for my (old) GB112 Buderus boiler.
I buyed also a EMS-Gateway from BBQKees and a Junkers/Bosch EasyControl adapter. In addition I created the modified version of the gateway on a breadboard, so I can see on both sides of the bus what happens.
The first outcome I want to share is the modified wiki of the telegram-types.
I also see

[2022-11-28 19:47] harrymayr commented on #19
@n1kDon The 100k you need to remove (R5 on the old gateway)  is R22 and the additional 1M5 resistor, need to be soldered between pin 2 & 8 of U2, or between the points marked in the attached grafik.

Best regards,

Harry
![V3-Modifikation](https://user-images.githubusercontent.com/104222469/204367084-a633ba5a-29de-475d-aa7d-0088cb015c80.PNG)

[2022-11-29 23:48] harrymayr commented on #20
If released a new version in my fork [https://github.com/harrymayr/IRT-ESP/tree/1.10.0b](url) where I also added the changes in the wiki.
The changes include additional values, improved PID-regulator and a burner restart delay.

[2022-11-30 21:03] Victor-Mo commented on #20
Hi Harry,

Great stuff ! Today I have detached my github fork from the original proddy EMS build. You should now be able to create PR on my github. I think that is the easiest for me to pickup your changes and create a new release. (I really like the changes)

The link you provided does not seem to work, the displayed url does not match the actual url, so for anyone that cannot wait to try it: htt

[2022-11-30 21:17] harrymayr commented on #20
Hi Victor,

PID:

  *   Resetting the integrator if burner does not run.
  *   And most important: not adding the new error to the IRT_Sys_Status.cur_set_burner_power, but adding on the IRT_MIN_USABLE_BURN_POWER + 1

Otherwise the burner_power get larger and larger and will not go down fast enough.
Here a snapshot of my home assistant output of today.
I think about to add a minimum burner runtime,